:root {
    --primary-color: #0c1414;
    --secondary-color: #0c1c30;
    --orange-color: #ff3700;
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --black-color: #1b1b1b;
    --gap: 3rem;
}

