* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 30px;
    background-color: beige;
}

.grid {
    background-color: beige;
    padding: 30px;
    display: grid;
    max-width: 1200px;
    margin: 30px auto;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.bloco {
    background-color: rgb(131, 131, 131);
    width: 300px;
    height: 200px;
    transition: ease-in-out  300ms;
}

.bloco:hover {
    background-color: rgb(120, 120, 120);
    width: 320px;
    height: 220px;
}